<br><br>
<h3>Found Items</h3>
<table ng-if="found.length > 0">
  <tr>
    <th>ID</th>
    <th>Short Name</th>
    <th>Full Name</th>
    <th>Description</th>
    <th>Small Price</th>
    <th>Large Price</th>
    <th>Small Name</th>
    <th>Large Name</th>
    <th>
      Remove
    </th>
  </tr>
  <tr ng-repeat="item in found">
    <td>{{item.id}}</td>
    <td>{{item.short_name}}</td>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.price_small}}</td>
    <td>{{item.price_large}}</td>
    <td>{{item.small_portion_name}}</td>
    <td>{{item.large_portion_name}}</td>
    <td>
      <button ng-click="onRemove({index: $index});">Remove Item</button>
    </td>
  </tr>
</table>
